<html>
  <head>
  <meta charset="utf-8">
  </head>
  <body>
    <h1> 음악 추가</h1>
    <form method="POST" action="/musics">
      <p>title : <input type="text" name="title"></p>
      <p>singer : <input type="text" name="singer"></p>
      <p>introduction : <input type="text" name="introduction"></p>
      <p><input type="submit" value="추가하기"><input type="button" value="리스트로 돌아가기" onclick="location.href='/musics'">
    </form>
  </body>
</html>