<html>
<head>
   <meta charset="UTF-8" />
</head>
<body>
    <h1><%= detail.title %> 상세보기</h1>
    <ul>
        <li>title : <%= detail.title %>  </li>
        <li>singer : <%= detail.singer %>  </li>
        <li>introduction : <%= detail.introduction %>  </li>
    </ul>
</body>
</html>